@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

body{
	font: 14px/1.5 'Roboto';
	padding: 0;
	margin: 0;
}
html {
	-webkit-font-smoothing: antialiased;
}

header{
	background: #8bc34a;
	color: white;
	border-top: 10px solid #7cb342;
	position: relative;

	h1{
		padding: 0;
		font-size: 1em;
		margin: 0;
		padding: 1em;
	}
}
.header-buttons{
	a{
		display: inline-block;
		font-size: 1.5em;
		margin: 0 .25em;
		cursor: pointer;
	}
}
#header-controls,
#header-controls-second{
	position: absolute;
	right: 16px;
	top: 0;
	height: 49px;
	line-height: 49px;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.btn,
.main-menu a {
	text-align: center;
	padding: 1em;
	margin: 1em;
	background: #03a9f4;
	color: white;
	display: block;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;

	&:active{
		-webkit-box-shadow:inset 0 2px 4px 0 rgba(0,0,0,.2);
		box-shadow:inset 0 2px 4px 0 rgba(0,0,0,.2);
	}
}

.main-menu {
	list-style: none;
	margin: 1em;
	padding: 0;

	a {
		margin: 0;
		border-bottom: 1px solid #0288d1;
	}
}

//---------------------------------------

[data-in-effect="change-text"]{
	overflow: hidden;

	.in-state{
		display: inline-block;
		-webkit-transition: opacity 400ms ease-in-out;
		-moz-transition: opacity 400ms ease-in-out;
		-ms-transition: opacity 400ms ease-in-out;
		-o-transition: opacity 400ms ease-in-out;
		transition: opacity 400ms ease-in-out;
	}
	.in-state-wrap{
		-webkit-transition: -webkit-transform 400ms ease-in-out;
		-moz-transition: -moz-transform 400ms ease-in-out;
		-ms-transition: -ms-transform 400ms ease-in-out;
		-o-transition: -o-transform 400ms ease-in-out;
		transition: transform 400ms ease-in-out;
	}
	&[data-in-active-state="one"]{
		.in-state-wrap{
			@include transform(translate3d(0,0,0));
		}
		[data-in-state="one"]{
			opacity: 1;
		}
		[data-in-state="two"]{
			opacity: 0;
		}
	}
	&[data-in-active-state="two"]{
		.in-state-wrap{
			@include transform(translate3d(-50%,0,0));
		}
		[data-in-state="one"]{
			opacity: 0;
		}
		[data-in-state="two"]{
			opacity: 1;
		}
	}
}
[data-in-effect="visibility"] {
	-webkit-transition: -webkit-transform 300ms ease-in-out;
	-moz-transition: -moz-transform 300ms ease-in-out;
	-ms-transition: -ms-transform 300ms ease-in-out;
	-o-transition: -o-transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out;

	&[data-in-visibility="hidden"]{
		@include transform(scale(0));
	}
	&[data-in-visibility="visible"]{
		@include transform(scale(1));
	}
}
[data-in-effect="click"] {
	position: relative;
	overflow: hidden;

	.in-effect{
		-webkit-transition: -webkit-transform 300ms ease-in-out, opacity 300ms linear;
		-moz-transition: -moz-transform 300ms ease-in-out, opacity 300ms linear;
		-ms-transition: -ms-transform 300ms ease-in-out, opacity 300ms linear;
		-o-transition: -o-transform 300ms ease-in-out, opacity 300ms linear;
		transition: transform 300ms ease-in-out, opacity 300ms linear;

		position: absolute;
		background: white;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		border-radius: 100%;
		left: 50%;
		top: 50%;
		opacity: .1;
		opacity: 1;
		@include transform(scale(0));
	}

	&[data-in-active-state='clicked']{
		.in-effect{
			@include transform(scale(20));
			opacity: 0;
		}
	}
}




























